.bigbrand{
  font-size: 1.5em;
}

.center{
  margin-left: auto;
  margin-right: auto;
}

.editable{
  width: 100%;
}

.flexcontainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.item{
  margin-left: 15px;
  margin-right: 15px;
  color: #1E90FF
}

.blog_posts{
  margin-top: 20px;
  overflow-wrap: break-word;
}

.navbar{
  font-family: 'Dela Gothic One', cursive;
}

#content{
  max-width:25px;
  max-height:25px;
  width: auto;
  height: auto;
}

#content img{
  max-height: 100%;
  max-width: 100%;
}
